<h1 class="text-center">My bookings (<%= @bookings.size %>)</h1>

<% @bookings.each do |booking| %>
  <div class="kudoz">
    <%= link_to "", course_path(booking.course) %>
    <div class="kudoz-right">
      <%= cl_image_tag booking.course.user.avatar, class: "avatar" %>
      <p>
        <%= booking.course.title %>, with <%= booking.course.user.first_name %>
      </p>
    </div>
    <div class="kudoz-left">
      <% if booking.approved %>
        <i class="fas fa-check"></i>
      <% else %>
        <i class="fas fa-times"></i>
      <% end %>
      <%= booking.status %>
    </div>
  </div>
  <%= link_to '(Cancel registration)', booking_path(booking), method: :delete,
  class: "text-muted cancel-link" %>
<% end %>
