<div class="dash-sidebar">
  <div class="dash-profile">
    <div>
      <%= cl_image_tag current_user.avatar, class: "avatar-large" %>
    </div>
    <p><%= current_user.first_name %>, <%= current_user.last_name %></p>
    <p><%= current_user.email %></p>
    <%= link_to edit_user_registration_path(current_user), class: "dash-link" do %>
      <i class="fas fa-edit"></i> Edit profile
    <% end %>
  </div>
  <hr>
  <div class="dash-actions">
    <div class="action-link">
      <%= link_to '', bookings_path, class: "absolute-link" %>
      <span class="active"><i class="fas fa-chart-bar"></i> My dashbord</span>
    </div>
    <div class="action-link">
      <%= link_to '', my_bookings_bookings_path, class: "absolute-link" %>
      <span><i class="fas fa-chalkboard-teacher"></i> My bookings</span>
    </div>
    <div class="action-link">
      <%= link_to '', my_courses_bookings_path, class: "absolute-link" %>
      <span><i class="fas fa-book"></i> My courses</span>
    </div>
  </div>
  <hr>
  <div class="dash-logout">
    <%= link_to destroy_user_session_path, class: "dash-link text-center" do %>
      <i class="fas fa-sign-out-alt"></i> Logout
    <% end %>
  </div>
</div>
