<div class="dashboard">
  <%= render "sidebar" %>
  <div class="dash-container">
    <div class="courses-taken dash-card">
      <div class="dash-card-content">
        <i class="fas fa-graduation-cap card-icon"></i>
        <p class="metrics"><%= @courses_taken %></p>
        <h3>Courses taken</h3>
      </div>
    </div>
    <div class="total-revenue dash-card">
      <div class="dash-card-content">
        <i class="far fa-money-bill-alt card-icon"></i>
        <p class="metrics"><%= @total_revenue %> €</p>
        <h3>Total revenue</h3>
      </div>
    </div>
    <div class="courses-given dash-card">
      <div class="dash-card-content">
        <i class="fas fa-chalkboard card-icon"></i>
        <p class="metrics"><%= @courses_given %></p>
        <h3>Courses given</h3>
      </div>
    </div>
    <div class="dash-graph dash-card">
      <%= column_chart Booking.group_by_day_of_week(:created_at, format: "%a").count %>
    </div>
  </div>
</div>
