<div class="dashboard">
  <%= render "sidebar" %>
  <div class="dash-container">
    <div class="courses-taken dash-card">
      <div class="dash-card-content">
        <i class="fas fa-graduation-cap card-icon"></i>
        <p class="metrics"><%= @courses_taken %></p>
        <h3>Courses taken</h3>
      </div>
    </div>
    <div class="total-revenue dash-card">
      <div class="dash-card-content">
        <i class="far fa-money-bill-alt card-icon"></i>
        <p class="metrics"><%= @total_revenue %> €</p>
        <h3>Total revenue</h3>
      </div>
    </div>
    <div class="courses-given dash-card">
      <div class="dash-card-content">
        <i class="fas fa-chalkboard card-icon"></i>
        <p class="metrics"><%= @courses_given %></p>
        <h3>Total number of students</h3>
      </div>
    </div>
    <div class="dash-graph dash-card">
      <%= column_chart Booking.joins(:course)
        .where(approved: true)
        .group(:begin_date)
        .sum(:price), {
          xtitle: "Course start date",
          ytitle: "Revenue",
          discrete: true
        }
      %>
    </div>
  </div>
</div>
