<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "course.jpeg" %>');">
  <div class="card-cartridge-user">
    <span><%= course.user.first_name %> <%= course.user.last_name%><span><%= cl_image_tag course.user.avatar, class:"card-user" %>
  </div>
  <div class="card-title">
    <h2> <%= course.title %> </h2>
    <p> <%= course.price %> € </p>
  </div>

  <%= link_to course_path(course), class:"card-link" do %>
  <% end %>
</div>
