<div class="course-card">
  <% if course.photo.url != nil %>
  <div class="course-card-img-top" style="background-image: url('<%= cl_image_path course.photo %>')">
  <% else %>
  <div class="course-card-img-top" style="background-image: url('<%= asset_path "course.jpg"%>')">
  <% end %>
  </div>
  <div class="course-card-body">
    <div class="cardridge">
      <div class="left-cardridge">
        <%= cl_image_tag course.user.avatar, class:"course-card-details-user" %>
        <div>
          <h6><%= course.title %></h6>
          <p><%= course.user.first_name %> <%= course.user.last_name%>
        </div>
        </div>
        <div class="rigth-cardridge">
          <p> <%= number_to_currency(course.price) %> </p>
        </div>
      </div>
      <%= link_to "BOOK ME", course_path(course), class:"book-button" %>
    </div>
  </div>
