<div class="course-card">
  <div class="course-card-img-top" style="background-image: url('<%= asset_path "course.jpg"%>')">
  </div>
  <div class="course-card-body">
    <div class="cardridge">
      <div class="left-cardridge">
        <h6><%= course.title %></h6>
        <p><%= course.user.first_name %> <%= course.user.last_name%>
      </div>
      <div class="rigth-cardridge">
        <p> <%= course.price %> € </p>
      </div>
    </div>
    <%= link_to "BOOK ME", course_path(course), class:"button" %>
  </div>
</div>
