<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category"> <%= course.user.first_name %> <%= course.user.last_name%> </div>
  <div class="card-description">
    <h2> <%= course.title %> </h2>
    <p> <%= course.price %> € </p>
  </div>
  <%= cl_image_tag course.user.avatar, class:"card-user" %>
  <%= link_to course_path(course), class:"card-link"  do %>
  <% end %>
 </div>
