<div class='navigation-wrapper'>
  <div class='navigation-right'>
    <%= link_to root_url, class: 'navigation-logo' do %>
    <%= image_tag 'logo.png' %>
    <% end %>
  </div>
  <!-- Large -->
  <div class='navigation-left-large hidden-xs hidden-sm'>
    <%= link_to 'Courses', courses_url, class: 'navigation-link' %>
    <%= link_to 'Dashboard', bookings_url, class: 'navigation-link' %>
    <%= link_to 'Create a course', new_course_url, class: 'navigation-link' %>
    <div class="drop-wrapper avatar-link">
      <% if current_user.avatar.url %>
        <%= cl_image_tag current_user.avatar, class: 'avatar', id: 'avatar-menu' %>
      <% else %>
        <%= image_tag 'avatar-default.png', class: 'avatar', id: 'avatar-menu' %>
      <% end %>
      <div class='drop-menu'>
        <div>
          <%= link_to edit_user_registration_url, class: 'navigation-link' do %>
            <i class="fas fa-user-edit"></i> Edit profile
          <% end %>
        </div>
        <div>
          <%= link_to destroy_user_session_url, class: 'navigation-link' do %>
            <i class="fas fa-sign-out-alt"></i> Log out
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Small -->
  <div class='navigation-small hidden-md hidden-lg'>
    <i class="fas fa-bars toggler-bar"></i>
  </div>
</div>
