<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="course-grid-margin">
        <div id="map"  style="height: 228px;" data-markers="<%= @markers.to_json %>">
        </div>
        <div id=search > <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query], class: "form-control",
        placeholder: "Find a course" %>
        <%end%>
        </div>
      </div>
    </div>
  <div class="col-xs-12 col-sm-4">
    <div class="course-grid-margin">
      <%= render partial: 'shared/cta_card' %>
    </div>
  </div>
  <% @courses.each_with_index do |course, index| %>
  <div class="col-xs-12 col-sm-4">
    <div class="course-grid-margin">
      <%= render partial: 'shared/card', locals: { course: course } %>
    </div>
  </div>
  <% end %>
</div>
</div>
