<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="details details-description">
        <div class="card-body ">
          <h1><%= @course.title %></h1>
          <p><%= @course.description %></p>
          <p>
            <%= cl_image_tag @course.user.avatar, class:"details-user" %>
            <strong><%= @course.user.first_name %> <%= @course.user.last_name %></strong>
          </p>
          <%= link_to "Edit", edit_course_path(@course), class: "btn btn-primary" %>
          <%= link_to "Delete",  course_path(@course), method: :delete, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="details details-call">
        <div class="card-body">
          <p>from <strong><%= @course.begin_date %></strong> to <strong><%= @course.end_date %></strong></p>
          <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <strong><%= @course.address %></strong></p>
          <p>
            <strong><%= @course.price %> €</strong></p>
          <%= link_to "Book", course_bookings_path(@course), method: :post, class: "btn btn-lg btn-danger" %>
        </div>
      </div>
    </div>
    <% if @other_courses.any? %>
    <div class="row">
      <div class="col-xs-12">
        <h3>Other courses</h3>
        <% @other_courses.each do |course| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render partial: 'shared/card', locals: {
            course: course } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
